<div class="cert-form">
    <form name="applyForm" *ngIf="!data.success">
        <md-input-container class="full-width">
            <input mdInput placeholder="姓名" name="name" [(ngModel)]="applyData.name">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput placeholder="船舶种类" name="shipType" [(ngModel)]="applyData.shipType">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput placeholder="职务" name="post" [(ngModel)]="applyData.post">
        </md-input-container>
        <table class="full-width phone-group" cellspacing="0">
            <tr>
                <td style="width: 50px">
                    <md-select class="full-width phone-code" placeholder="code" [(ngModel)]="applyData.phoneCode" name="phoneCode">
                        <md-option *ngFor="let code of phoneCodeList" [value]="code">
                            {{code}}
                        </md-option>
                    </md-select>
                </td>
                <td>
                    <md-input-container class="full-width phone-number">
                        <input mdInput placeholder="手机号" [(ngModel)]="applyData.phoneNumber" name="phoneNumber">
                    </md-input-container>
                </td>
            </tr>
        </table>
        <button class="full-width" md-raised-button [color]="primary" (click)="saveApply()">提交办理</button>
    </form>
    <div class="result" *ngIf="data.success">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <h3>提交成功</h3>
        <p>您的办证申请我们已经收到，查看办证进度请移步"进度查询"</p>
        <button class="full-width" md-raised-button [color]="primary" routerLink="/">确定</button>
    </div>
</div>

